<div class="footer pt-5">
  <div class="container">
    <div class="row pb-4">
      <div class="col-lg-4 text-white text-center pt-4">
        <h4 class="text-uppercase mb-4">location</h4>
        <p class="fs-5">
            2215 John Daniel Drive<br>
            Clark, MO 65243
            </p>
      </div>
      <div class="col-lg-4 text-white text-center pt-4">
        <h4 class="text-uppercase mb-4">around the web</h4>
        <div class="row justify-content-center">
            <a class="btn btn-outline-light w-auto rounded-circle me-2" href="#"> <i class="fa-brands fa-facebook-f fs-5"></i></a>
            <a class="btn btn-outline-light w-auto rounded-circle me-2" href="#"> <i class="fa-brands fa-twitter"></i></a>
            <a class="btn btn-outline-light w-auto rounded-circle me-2" href="#"> <i class="fa-brands fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light w-auto rounded-circle me-2" href="#"> <i class="fa-brands fa-dribbble"></i></a>


        </div>
      </div>
      <div class="col-lg-4 text-white text-center pt-4">
        <h4 class="text-uppercase mb-4">about freelancer</h4>
        <p class="fs-5 px-3">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
  <div class="copyrights text-center text-white pt-4 pb-1">
    <div class="container">
        <div class="row">
            <p>Copyright © Your Website 2021</p>
        </div>
    </div>

  </div>
</div>
