<div class="section about bg-green">
<div class="container  d-flex align-items-center justify-content-center flex-column mt-5 pt-5 pb-5">
    <div class="row mb-3 title-row">
        <h2
        class="text-uppercase fw-bold mt-4 pt-3 position-relative title mb-5 pb-3"
      >
        about <span class="position-relative"></span>
      </h2>
      </div>
      <div class="row mb-3 mt-2">
        <div class="col-lg-4 ms-auto">
            <p class="fw-normal px-3">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-lg-4 me-auto">
            <p class="fw-normal px-3"> You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
        </div>
      </div>

</div>
</div>

