<body> 
  <div
  class="container d-flex align-items-center justify-content-center flex-column mt-5 pt-5"
>
  <div class="row mb-3 title-row">
    <h2
    class="text-uppercase fw-bold mt-4 pt-3 position-relative title mb-5 pb-3"
  >
    portfolio <span class="position-relative"></span>
  </h2>
  </div>
  <div class="row justify-content-center align-items-center px-3" >
    <div class="col-lg-4 col-md-6" *ngFor="let x of box; let i=index;">
      <div class="box-item pe-3 mb-5 pointer"  data-bs-toggle="modal"  [attr.data-bs-target]="'#exampleModal'+i"  >
        <div class="overlay position-relative">
          <img
          src="./assets/images/{{x.url}}"
          alt=""
          class="w-100 img-fluid rounded-3"
        />
        <div class="img-cover d-flex justify-content-center align-items-center  rounded-3">
            <i class="fa-solid fa-plus text-white fs-1"></i>
        </div>
        </div>
        
      </div>
    </div>
    <!-- <div class="col-lg-4 col-md-6">
      <div class="box-item pe-3 mb-5  pointer position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <img
          src="../../assets/images/cake.png"
        alt=""
          class="w-100 img-fluid rounded-3"
        />
        <div class="img-cover d-flex justify-content-center align-items-center  rounded-3">
            <i class="fa-solid fa-plus text-white fs-1"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6" >
      <div class="box-item pe-3 mb-5  pointer position-relative"data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <img
          src="../../assets/images/circus.png"
          alt=""
          class="w-100 img-fluid rounded-3"
        />
        <div class="img-cover d-flex justify-content-center align-items-center  rounded-3">
            <i class="fa-solid fa-plus text-white fs-1"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6" >
        <div class="box-item pe-3 mb-5  pointer position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <img
            src="../../assets/images/game.png"
            alt=""
            class="w-100 img-fluid rounded-3"
          />
          <div class="img-cover d-flex justify-content-center align-items-center  rounded-3">
            <i class="fa-solid fa-plus text-white fs-1"></i>
        </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" >
        <div class="box-item pe-3 mb-5  pointer position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <img
            src="../../assets/images/safe.png"
            alt=""
            class="w-100 img-fluid rounded-3"
          />
          <div class="img-cover d-flex justify-content-center align-items-center  rounded-3">
            <i class="fa-solid fa-plus text-white fs-1"></i>
        </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6"  >
        <div class="box-item pe-3 mb-5  pointer position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <img
            src="../../assets/images/submarine.png"
            alt=""
            class="w-100 img-fluid rounded-3"
          />
          <div class="img-cover d-flex justify-content-center align-items-center rounded-3">
            <i class="fa-solid fa-plus text-white"></i>
        </div>
        </div>
      </div> -->
  </div>
</div>
<div class="modal fade" id="exampleModal{{i}}" data-bs-backdrop="exampleModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true" *ngFor="let x of box; let i=index;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content text-center">
      <div class="modal-header text-center d-flex justify-content-center align-items-center border-0">
        <div class="row  titlex-row position-relative">
        <h2 class="text-uppercase fw-bold mt-4 pt-3 position-relative titlex mb-5 pb-3" id="exampleModalLabel">{{x.title}}</h2>
        </div>
        <i class="fas fa-times position-absolute fs-1 pointer" id="escape" data-bs-dismiss="modal" aria-label="Close"></i>

      </div>
      <div class="modal-body border-0">
        <div class="row justify-content-center align-items-center">
           <div class="col-lg-8">
          <img src="./assets/images/{{x.url}}" class="img-fluid rounded mb-5" alt="">
          <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        </div>
        </div>
       
      
      </div>
      <div class="modal-footer d-flex justify-content-center align-items-center border-0">
        <button type="button" class="btn btn-green mb-5" data-bs-dismiss="modal"><i class="fas fa-times text-white pe-3 fs-6"></i>Close Windows </button>
      </div>
    </div>
  </div>
</div>
</body>


<!-- <div class="modals justify-content-center align-items-center rounded">
  <div
      class="portfolio-box justify-content-center align-items-center rounded-4"
      id="lightBoxContainer"
    >
      <i class="fas fa-times position-absolute fs-1 pointer" id="escape"></i>
    </div>
</div> -->

