<!-- <div class="justify-content-center align-items-center rounded modal-dialog-scrollable">
    <div class="portfolio-box justify-content-center align-items-center rounded-4"
        id="lightBoxContainer"
      >
        <i class="fas fa-times position-absolute fs-1 pointer" id="escape" (click)="generalService.showDialog=false"></i>
        <div class="modal-body text-center" >
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="row mb-3 title-row mt-2">
                  <h2
                  class="text-uppercase fw-bold mt-4 pt-3 position-relative title mb-5 pb-3"
                >
                LOG CABIN
                <span class="position-relative"></span>
                </h2>
                </div>
                <img src="../../../../assets/images/cabin.png" class="img-fluid rounded mb-5" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              </div>

            </div>
          </div>

        </div>
      </div>
  </div> -->
  <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="exampleModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content text-center">
      <div class="modal-header text-center d-flex justify-content-center align-items-center border-0">
        <div class="row  title-row position-relative">
        <h2 class="text-uppercase fw-bold mt-4 pt-3 position-relative title mb-5 pb-3" id="staticBackdropLabel">log cabin</h2>
        </div>
        <i class="fas fa-times position-absolute fs-1 pointer" id="escape" data-bs-dismiss="modal" aria-label="Close"></i>

      </div>
      <div class="modal-body border-0">
        <div class="row justify-content-center align-items-center">
           <div class="col-lg-8">
          <img src="../../../../assets/images/cabin.png" class="img-fluid rounded mb-5" alt="">
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        </div>
        </div>
       
      
      </div>
      <div class="modal-footer d-flex justify-content-center align-items-center border-0">
        <button type="button" class="btn btn-green" data-bs-dismiss="modal"><i class="fas fa-times text-white pe-3 fs-6"></i>Close Windows </button>
      </div>
    </div>
  </div>
</div>