<nav class="navbar navbar-expand-lg nav-bg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand text-uppercase fs-3 mb-1" href="#">Start Angular</a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        MENU<span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto text-white text-uppercase pt-3">
            <li class="nav-item px-2 mb-3">
                <a class="p-3" routerLink="home" routerLinkActive="active">Home</a>
              </li>
          <li class="nav-item px-2 mb-3">
            <a class="p-3"  routerLink="portfolio" routerLinkActive="active">Portfolio</a>
          </li>
          <li class="nav-item px-2 mb-3">
            <a class="p-3" routerLink="about"  routerLinkActive="active">About</a>
          </li>
          <li class="nav-item px-2 mb-3">
            <a class="p-3" routerLink="movies"  routerLinkActive="active">Movies</a>
          </li>
          <li class="nav-item px-2 mb-3">
            <a class="p-3" routerLink="contact"  routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>